extends c-common

snippet in
#include <$1.h>
endsnippet 

snippet io
#include <stdio.h>
endsnippet 

snippet lib
#include <stdlib.h>
endsnippet 

snippet str
#include <string.h>
endsnippet 

snippet ass
#include <assert.h>
endsnippet 
